@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #60B5FF;
}


body {
  background: #fff;
  color: #000;
  font-family: "Inter", sans-serif;
}

html, body {
  height: 100%;
}
